  <footer>
  {{ partial "foot_custom.html" . }}
  {{ partial "footer_highlightjs" . }}
  {{ with .Site.Params.footer}}
  <hr>
  <div class="copyright">{{ replace . "{year}" now.Year | markdownify }}</div>
  {{ end }}
  </footer>
  </article>
  {{ if .Params.mathjax }} {{ partial "mathjax.html" . }} {{ end }}
  {{ if and .Site.Params.goole_analytics (or .NextInSection .PrevInSection) }} {{ template "_internal/google_analytics.html" . }} {{ end }}
  {{ if and .Site.Params.cnzz (or .NextInSection .PrevInSection) }} {{ partial "cnzz.html" . }} {{ end }}
  </body>
</html>
