{{ $prev := .NextInSection }}
{{ $next := .PrevInSection }}

{{ if or $prev $next }}
<nav class="post-nav">
  <ul>
    {{ if $prev }} 
    <li>
      <span class="date">&rtrif; {{ $prev.Date.Format "2006/01/02" }}&emsp;</span>
      <a href="{{ $prev.RelPermalink }}">{{ $prev.Title }}</a>
    </li>
    {{ end }}
    <li class="active">
      <span class="date">&rtrif; {{ .Date.Format "2006/01/02" }}&emsp;</span>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>     
    </li>
    {{ if $next }}
    <li>
      <span class="date">&rtrif; {{ $next.Date.Format "2006/01/02" }}&emsp;</span>
      <a href="{{ $next.RelPermalink }}">{{ $next.Title }}</a>
    </li>
    {{ end }}
  </ul>
</nav>
{{ partial "comments.html" . }}
{{ end }}